<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.palladiosimulator.analyzer.slingshot.ui.launchConfigurationType1">
    <stringAttribute key="EDP2RepositoryID" value="_Pvo2AM_LEe6yoZV93WYYzQ"/>
    <stringAttribute key="accuracyQualityAnnotationFile" value=""/>
    <stringAttribute key="allocationModel" value="platform:/resource/RemoteMeasuringMosaic/rm.allocation"/>
    <booleanAttribute key="clear" value="true"/>
    <stringAttribute key="confidenceBatchSize" value="200"/>
    <stringAttribute key="confidenceHalfWidth" value="10"/>
    <stringAttribute key="confidenceLevel" value="95"/>
    <stringAttribute key="confidenceMinNumberOfBatches" value="60"/>
    <stringAttribute key="confidenceModelElementName" value=""/>
    <stringAttribute key="confidenceModelElementURI" value=""/>
    <booleanAttribute key="confidenceUseAutomaticBatches" value="true"/>
    <intAttribute key="datasourceID" value="-1"/>
    <intAttribute key="de.uka.ipd.sdq.workflowengine.debuglevel" value="2"/>
    <stringAttribute key="experimentRun" value="MyRun"/>
    <stringAttribute key="fixedSeed0" value="0"/>
    <stringAttribute key="fixedSeed1" value="1"/>
    <stringAttribute key="fixedSeed2" value="2"/>
    <stringAttribute key="fixedSeed3" value="3"/>
    <stringAttribute key="fixedSeed4" value="4"/>
    <stringAttribute key="fixedSeed5" value="5"/>
    <stringAttribute key="maximum" value=""/>
    <stringAttribute key="maximumMeasurementCount" value="10"/>
    <stringAttribute key="minimum" value=""/>
    <stringAttribute key="monitorrepository" value="platform:/resource/RemoteMeasuringMosaic/monitors/monitors.monitorrepository"/>
    <stringAttribute key="outpath" value="org.palladiosimulator.temporary"/>
    <stringAttribute key="persistenceFramework" value="Experiment Data Persistency &amp; Presentation (EDP2)"/>
    <stringAttribute key="semanticspd" value="platform:/resource/RemoteMeasuringMosaic/scalingPolicies/semanticModels/aio-default-hpa.semanticspd"/>
    <booleanAttribute key="shouldThrowException" value="true"/>
    <stringAttribute key="simTime" value="300"/>
    <booleanAttribute key="simulateAccuracy" value="false"/>
    <stringAttribute key="simulatorId" value="de.uka.ipd.sdq.codegen.simucontroller.simucom"/>
    <stringAttribute key="slo" value=""/>
    <stringAttribute key="spd" value="platform:/resource/RemoteMeasuringMosaic/scalingPolicies/ThesisExp2-dec-hpa-default.spd"/>
    <stringAttribute key="stepwidth" value=""/>
    <stringAttribute key="usageEvolution" value=""/>
    <stringAttribute key="usagemodel" value="platform:/resource/RemoteMeasuringMosaic/rm.usagemodel"/>
    <booleanAttribute key="useConfidenceStopCondition" value="false"/>
    <booleanAttribute key="useFixedSeed" value="false"/>
    <stringAttribute key="variable" value=""/>
    <stringAttribute key="variationId" value="Default Variation"/>
    <booleanAttribute key="verboseLogging" value="false"/>
</launchConfiguration>
